@charset "UTF-8";
/* CSS Document */
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.header{background:#fff;height:100px;box-shadow: 0 4px 16px #ebebeb;margin-bottom: 40px;}
a.logo{float:left;margin-top:32px;}
.nav_a{float:right; list-style-type: none;margin-top:25px;padding: 0;}
.nav_a li{float:left;font-size:16px;}
.nav_a li a{color:#12052f;display: inline-block;line-height: 50px;width:56px;text-align: center;}
.nav_a li a:hover{text-decoration:none;color:#5e21e4;}

.thumbnail{padding: 8px; border: none;box-shadow: 0 4px 16px #ebebeb;}